<div class="container">
  <% if admin_signed_in? %>
    <%= form_with model: [:admins, @egogram], local:true do |f| %>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <h4>タイプの名前</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <%= f.text_field :type_name %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <h4>長所タイトル</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <%= f.text_field :strong_point_title %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <h4>長所本文</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <%= f.text_area :strong_point_body %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <h4>短所タイトル</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <%= f.text_field :weak_point_title %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
      <h4>短所本文</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <%= f.text_area :weak_point_body %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <h4>アドバイスタイトル</h4>
      </div>
    </div>
     <div class="row">
      <div class="col-12 text-center pt-3	">
        <%= f.text_field :advice_title %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <h4>アドバイス本文</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <%= f.text_area :advice_body %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
      <%= f.attachment_field :egogram_image %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3	">
      <%= f.submit 'エゴグラム変更' %>
      </div>
    </div>
    <% end %>
</div>
  <% else %>
<div class="container no-page">
  <div class="row">
    <div class="col-12 text-center pt-3	">
    <h1>このページは存在しません</h1>
    </div>
  </div>
</div>
  <% end %>
