<%= attachment_image_tag @user, :profile_image,  size: "100x100" %>

<p>私の名前は<%= @user.name %>です。<br>
    年齢<%= @user.age %>歳です。<br>
    性別は<%= @user.gender %>です<br>
    職業は <%= @user.job %>で<br>
    <%= @user.job_details %>しています<br>
    年収は<%= @user.annual_income %>万円です。<br>
    趣味は<%= @user.hobbies %>で<br>
    <%= @user.hobbies_details %>です。
</p>

<%= line_chart @chart_data, width: "500px", height: "500px", curve: false, colors: ["#8b4513", "#8b4513"] %>
