
<%= attachment_image_tag @user, :profile_image,  size: "100x100" %>

<p>私の名前は<%= @user.name %>です。<br>
    年齢<%= @user.age %>歳です。<br>
    性別は<%= @user.gender %>です<br>
    職業は <%= @user.job %>で<br>
    <%= @user.job_details %>しています<br>
    年収は<%= @user.annual_income %>万円です。<br>
    趣味は<%= @user.hobbies %>で<br>
    <%= @user.hobbies_details %>です。
</p>

<%= @questions.sample %>
<div>
  <input type="radio" name="npq" value="0">
  <label for="いいえ">いいえ</label>
</div>

<div>
  <input type="radio" name="npq" value="1">
  <label for="どちらでもない">どちらでもない</label>
</div>

<div>
  <input type="radio" name="npq" value="2">
  <label for="はい">はい</label>
</div>

<input type="submit" value="送信">


