<% if !@anserData.nil? || admin_signed_in? %>
<%# if @anserData != nil %>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-3	">
        <%= attachment_image_tag @user, :profile_image,  size: "300x300" %>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center pt-3">
        <p>
          私の名前は<%= @user.name %>です。<br>
          年齢<%= @user.age %>歳です。<br>
          性別は<%= @user.gender %>です<br>
          職業は <%= @user.job %>で<br>
          <%= @user.job_details %>しています<br>
          年収は<%= @user.annual_income %>万円です。<br>
          趣味は<%= @user.hobbies %>で<br>
          <%= @user.hobbies_details %>です。
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center pt-3">
        <div class="graph">
          <%= line_chart @chart_data, width: "300px", height: "300px", curve: false, colors: ["#8b4513", "#8b4513"] %>
        </div>
      </div>
    </div>
  </div>
<% elsif user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-3">
        <%= attachment_image_tag @user, :profile_image,  size: "300x300" %>
      </div>
    </div>
    <%= form_tag "/points", method: :post do %>
      <div class="row">
        <div class="col-12 text-center pt-3 ">
          "<%= @cp_questions.sample %>"<br>
          <%= label_tag :cp_point, "いいえ" %>
          <%= radio_button_tag :cp_point, 0 %>
          <%= label_tag :cp_point, "どちらでもない" %>
          <%= radio_button_tag :cp_point, 1 %>
          <%= label_tag :cp_point, "はい" %>
          <%= radio_button_tag :cp_point, 2 %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-3 ">
          "<%= @np_questions.sample %>"<br>
          <%= label_tag :np_point, "いいえ" %>
          <%= radio_button_tag :np_point, 0 %>
          <%= label_tag :np_point, "どちらでもない" %>
          <%= radio_button_tag :np_point, 1 %>
          <%= label_tag :np_point, "はい" %>
          <%= radio_button_tag :np_point, 2 %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-3 ">
          "<%= @a_questions.sample %>"<br>
          <%= label_tag :a_point, "いいえ" %>
          <%= radio_button_tag :a_point, 0 %>
          <%= label_tag :a_point, "どちらでもない" %>
          <%= radio_button_tag :a_point, 1 %>
          <%= label_tag :a_point, "はい" %>
          <%= radio_button_tag :a_point, 2 %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-3 ">
          "<%= @fc_questions.sample %>"<br>
          <%= label_tag :fc_point, "いいえ" %>
          <%= radio_button_tag :fc_point, 0 %>
          <%= label_tag :fc_point, "どちらでもない" %>
          <%= radio_button_tag :fc_point, 1 %>
          <%= label_tag :fc_point, "はい" %>
          <%= radio_button_tag :fc_point, 2 %><br>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-3 ">
          "<%= @ac_questions.sample %>"<br>
          <%= label_tag :ac_point, "いいえ" %>
          <%= radio_button_tag :ac_point, 0 %>
          <%= label_tag :ac_point, "どちらでもない" %>
          <%= radio_button_tag :ac_point, 1 %>
          <%= label_tag :ac_point, "はい" %>
          <%= radio_button_tag :ac_point, 2 %>
        </div>
      </div>
           <!--評価された人のIDが必要だからhidden_fieldでURLから取ってきてる。-->
           <%#= f.hidden_field_tag :evaluated_user_id, value: params[:id] %>
    <%= hidden_field_tag 'evaluated_user_id', @user.id %>
      <div class="row">
        <div class="col-12 text-center pb-3 ">
          <%= submit_tag '回答する', class: 'btn submit' %>
        </div>
    <% end %>
    </div>
  </div>
<% else %>
  <div class="main">
    <div class="introduction">
      <%= attachment_image_tag @user, :profile_image,  size: "300x300" %>
      <h2>この靴の持ち主の性格を知るにはログインして<br>
      この靴を見て５問の質問に答えてください</h2>
    </div>
  </div>
<% end %>

    <!--@cp_point = CpPoint.new-->
    <!--@cp_point.point = params[:cp_point]-->
    <!--@cp_point.save-->

    <!--@np_point = NpPoint.new-->
    <!--@np_point.point = params[:np_point]-->
    <!--@np_point.save-->

</div>

