<!DOCTYPE html>
<html>
  <head>
    <title>ShoesTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if admin_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <span class="navbar-brand"><%= link_to image_tag("pf_logo.png", class: "image", size: "400x100"), root_path %></span>
          <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <span class="nav-link"><%= link_to"ユーザー一覧", admins_users_path, class: "text-white" %></span>
              <span class="nav-link"><%= link_to"エゴグラム一覧", admins_egograms_path, class: "text-white" %></span>
              <span class="nav-link"><%= link_to"ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></span>
            </div>
          </div>
        </div>
      </nav>

    <% elsif user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <span class="navbar-brand"><%= link_to image_tag("pf_logo.png", class: "image", size: "400x100"), root_path %></span>
          <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <span class="nav-link class: text-white">ようこそ、<%= current_user.name %>さん！</span>
              <span class="nav-link"><%= link_to"靴一覧", users_path, class: "text-white" %></span>
              <span class="nav-link"><%= link_to"エゴグラム一覧", egograms_path, class: "text-white" %></span>
              <span class="nav-link"><%= link_to"マイページ",  users_my_page_path, class: "text-white" %></span>
              <span class="nav-link"><%= link_to"ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></span>
            </div>
          </div>
        </div>
      </nav>

    <% else %>
    <!--ログインしてないとき-->
      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <span class="navbar-brand"><%= link_to image_tag("pf_logo.png", class: "image", size: "400x100"), root_path %></span>
          <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <span class="nav-link"><%= link_to"靴一覧", users_path, class: "text-white" %></span>
              <span class="nav-link"><%= link_to"エゴグラム一覧", egograms_path, class: "text-white" %></span>
              <span class="nav-link"><%= link_to "新規登録", new_user_registration_path, class: "text-white" %></span>
              <span class="nav-link"><%= link_to "ログイン", new_user_session_path, class: "text-white" %></span>
            </div>
          </div>
        </div>
      </nav>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
  <div class="footer text-center p-3 bg-primary text-white ">
    ©shoes_egogram
  </div>
</html>
